#navbarPad {
  margin-bottom: 0px;
}
body, html, main {
  /* important */
  height: 100%;
}
 
.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  height: 600px;
  background-image: url("http://56.media.tumblr.com/ca6dd898536b57c328e24ab58af46362/tumblr_ni095newOQ1tsc3aio4_1280.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  height: 600px;
  background-image: url("http://40.media.tumblr.com/b7e65fa3192cbd2e5ec9d29e2c94b6c9/tumblr_nitfrev5lz1tsc3aio8_1280.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  height: 600px;
  background-image: url("http://2.bp.blogspot.com/-sJat_v4ia70/TWLHGGHhJwI/AAAAAAAABaI/p5JF0RPK-gQ/s1600/DSCF2497.JPG");
}
.myJumbotron {
  background: url('') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color:#fff;
   max-width:100%;
  max-height:100%;
   font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.cd-scrolling-bg {
  min-height: 120px;
}
.pano{
  text-align: center;
}
/*.hi {
  border: solid 3px black;
}
*/
.cstm-img {
  max-width:100%;
  max-height:100%;
}
.img1 {
  width:100px;
  height: 250px;
}
.center {
  text-align: center;
}
.p {
  margin: 10px 20px 10px 20px;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
}
li, h3{
  font-family: 'Vollkorn', serif;
  font-size: 20px;
}
.a {
  margin: 30px 10px 10px 10px;
  font-family: 'Vollkorn', serif;
  font-size: 18px;
  border-width: 2px;
  border-color: black;

}
h1{
  font-size: 40px;
}
h1, h2{
  font-family: 'Vollkorn', serif;
}

div.feedbox{
  height: 750px;
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, .7);
  border: none;
  border-radius: 4px;
  box-shadow: light-grey;
  overflow: hidden;
}
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:400px;
    height:auto;
    display:block;
    z-index:999;
}
.thumbnail{
   margin-left: 90px;
}
.features {
  font-size: 30px;
  margin-bottom: 50px;
}
.spread {
  padding: 40px;
  margin-right: 40px;
}
.backgroundColor {
  background-color: white;
}